mixin navigation(spec)
    - spec = spec || {}

    #navigation
        nav.nav
            ol.lvl1
                - var nav = site.data.navigation

                each lvl1, index in nav
                    - var navLvl2 = lvl1.lvl2
                        li
                            if lvl1.link == '#'
                                a.no-link(href='#')=lvl1.label
                                if navLvl2 != null
                                    ol.lvl2
                                        each lvl2, index in navLvl2
                                            - var navLvl3 = lvl2.lvl3
                                                li
                                                    a(href=lvl2.link)=lvl2.label
                                                    if navLvl3 != null
                                                        ol.lvl3
                                                            each lvl3, index in navLvl3
                                                                li
                                                                    a(href=lvl3.link)=lvl3.label

                            else
                                a(href=lvl1.link)=lvl1.label
                                if navLvl2 != null
                                    ol.lvl2
                                        each lvl2, index in navLvl2
                                            - var navLvl3 = lvl2.lvl3
                                                li
                                                    a(href=lvl2.link)=lvl2.label
                                                    if navLvl3 != null
                                                        ol.lvl3
                                                            each lvl3, index in navLvl3
                                                                li
                                                                    a(href=lvl3.link)=lvl3.label