mixin navigation(spec)
    - spec = spec || {}

    #navigation
        nav.nav
            ul.lvl1
                - var navigation = site.data.navigation

                each lvl1, index in navigation
                    - var navigationLvl2 = lvl1.lvl2
                        li
                            if lvl1.link == '#'
                                a.no-link(href='#')=lvl1.label
                                if navigationLvl2 != null
                                    ul.lvl2
                                        each lvl2, index in navigationLvl2
                                            - var navigationLvl3 = lvl2.lvl3
                                                li
                                                    a(href=lvl2.link)=lvl2.label
                                                    if navigationLvl3 != null
                                                        ul.lvl3
                                                            each lvl3, index in navigationLvl3
                                                                li
                                                                    a(href=lvl3.link)=lvl3.label

                            else
                                a(href=lvl1.link)=lvl1.label
                                    if navigationLvl2 != null
                                        ul.lvl2
                                            each lvl2, index in navigationLvl2
                                                - var navigationLvl3 = lvl2.lvl3
                                                    li
                                                        a(href=lvl2.link)=lvl2.label
                                                        if navigationLvl3 != null
                                                            ul.lvl3
                                                                each lvl3, index in navigationLvl3
                                                                    li
                                                                        a(href=lvl3.link)=lvl3.label